{% extends "auctions/layout.html" %}

{% block body %}
<h2>{{ listing.title }}</h2>

<a href="{% url 'watch_unwatch_item' listing.id %}">
    {% if not watched_by_user %}
    Add to watchlist
    {% else %}
    Remove from watchlist
    {% endif %}
</a>

{% if listing.imgURL %}
<br>
<img src="{{listing.imgURL}}" style="max-width: 400px;"/>
{% endif %}

<br><br>

{% if user != listing.by_user and listing.status == "ACT" %}
<br>
<h2>Place a bid</h2>
<form action="{% url 'place_bid' listing.id %}" method="POST">
    {% csrf_token %}
    {{ bid_form }}
    <button type="submit">Bid</button>
</form>
<br>
{% elif listing.status == "ACT" %}
<form action="{% url 'close_bid' listing.id %}" method="POST">
    {% csrf_token %}
    <button type="submit">Close bidding</button>
</form>
{% else %}
<p>
    The item is sold. <strong>{{max_bidder}}</strong> won the bid with an offer of <strong>{{max_bid}}</strong>
</p>
{% endif %}

<br>
<h2>Bids</h2>
<ul>
    {% for bid in bids %}
    <li>{{bid.price}} - {{bid.created_at}} - {{bid.by_user}}</li>
    {% endfor %}
</ul>

<br><br>

<h2>Comments</h2>
<form action="{% url 'comment' listing.id %}" method="POST">
    {% csrf_token %}
    {{ comment_form }}
    <button type="submit">Reply</button>
</form>
<ul>
    {% for comment in comments %}
    <li><strong>{{comment.by_user}}</strong> ¦ {{comment.created_at}}: {{comment.text}}</li>
    {% empty %}
    <li>No comments</li>
    {% endfor %}
</ul>

<br>

<a href="{% url 'index' %}">Back to Home Page</a>    

{% endblock %}